runs
venv
datasets
__pycache__
perspective/
JSON2YOLO/
.git/
.idea/
data/
!data/detect/

yolov5/.git/
yolov5/.github/
yolov5/classify/
yolov5/segment/
yolov5/detect_*.py
yolov5/README.md
yolov5/requirements.txt
yolov5/setup.cfg
yolov5/train.py
yolov5/val.py
yolov5/.gitattributes
yolov5/.pre-commit-config.yaml
yolov5/benchmark.py
yolov5/CITATION.cff
yolov5/CONTRIBUTING.md
!yolov5/weights/*.pt
*.ipynb

yolov8/yolov8n.pt

createLabels.py
headPose.py
headTraining.py
mainCV.py
mainYOLO.py
playVid.py
randomSample.py
test.py
