img/
vid/
runs/
venv/
perspective/
labelbox_exports/
JSON2YOLO/
__pycache__/
.git/
.idea/
data/
!data/detect/

yolov5/.git/
yolov5/.github/
yolov5/classify/
yolov5/runs/
yolov5/segment/
yolov5/detect.py
yolov5/detect_feat1.py
yolov5/detect_feat5.py
yolov5/detect_feat6.py
yolov5/detect_full.py
yolov5/detect_head.py
yolov5/detect_tear1.py
yolov5/detect_tear2.py
yolov5/README.md
yolov5/README.zh-CN.md
yolov5/requirements.txt
yolov5/setup.cfg
yolov5/train.py
yolov5/val.py
yolov5/tutorial.ipynb
yolov5/.gitattributes
yolov5/.pre-commit-config.yaml
yolov5/benchmark.py
yolov5/CITATION.cff
yolov5/CONTRIBUTING.md
!yolov5/weights/*.pt

head_model.blend
head_model.blend1
sim_model.blend
sim_model.blend1
full_model.blend
full_model.blend1
createLabels.py
headPose.py
headTracker.py
headTraining.py
mainCV.py
mainYOLO.py
playVid.py
randomSample.py
test.py
